.readme_copy {
	display: grid;
	grid-template-columns: auto 0em;
}

.readme_copy>div {
	overflow-y: hidden !important;
}

.readme_copy button {
	margin: 1em -1.8em;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	z-index: 1;
}

.readme_copy button>svg {
	width: 0.75em;
	height: 0.75em;
}

.readme_copy button:active {
	background-color: #aaa;
}

.breadcrumbs>nav {
	padding-left: 0.5em;
}

.breadcrumbs>nav>ol {
	display: inline-block;
	padding-left: 0.5em;
}

.breadcrumbs>nav>ol>li {
	display: inline-block;
}

.breadcrumbs>nav:before {
	content: "-";
}

#environment_table {
	columns: 40em auto;
	column-gap: 1.5em;
	max-width: unset;
}

#environment_table>div {
	width: 38em;
	margin: 0 auto 1.5em auto;
	break-inside: avoid;
	will-change: opacity;
	box-shadow: 0px 9px 16px rgba(159, 162, 191, .18), 0px 2px 2px rgba(159, 162, 191, 0.32);
}

#about {
	max-width: 40em;
}

samp {
	display: inline-block;
	border: 1px solid #f888;
	padding: 2px;
	margin: 1px;
	background-color: #eee;
}

#about pre {
	border: 1px solid #888;
	padding: 0.5em;
	background-color: #eee;
}